.tela-confirmao-senha-child {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(15px);
    background-color: rgba(217, 217, 217, 0.01);
    width: 1440px;
    height: 1024px;
}
.tela-confirmao-senha-item {
    position: absolute;
    top: calc(50% - 193px);
    left: calc(50% - 386px);
    border-radius: 66px;
    background-color: #faba16;
    border: 7px solid #3c1d05;
    box-sizing: border-box;
    width: 771px;
    height: 297px;
    cursor: default !important;
}
.coruja-logo-sozinha-4 {
    position: absolute;
    top: 21px;
    left: 1020px;
    width: 257px;
    height: 320px;
    object-fit: cover;
}
.tudo-certo-por {
    position: absolute;
    top: 360px;
    left: calc(50% - 182px);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.siga-o-passo {
    margin: 0;
}
.siga-o-passo-container {
    position: absolute;
    top: 450px;
    left: calc(50% - 305px);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.group-child {
    position: absolute;
    top: calc(50% - 41.5px);
    left: calc(50% - 265.5px);
    border-radius: 20px;
    background-color: transparent;
    border: 5px solid #3c1d05;
    box-sizing: border-box;
    width: 531px;
    height: 83px;
}
.voltar-ao-incio {
    position: absolute;
    top: 0px;
    left: 1.23px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 529.8px;
    height: 83px;
}
.rectangle-parent {
    position: absolute;
    top: calc(50% + 159px);
    left: calc(50% - 265px);
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
    width: 531px;
    height: 83px;
    font-size: 48px;
    font-family: Cinzel;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
    background-color: #faba16;
}
.rectangle-parent:hover, .rectangle-parent:focus {
    background: #ffd600;
    background-color: #ffd600;
    transform: scale(1.07);
}
.tela-confirmao-senha {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #3c1d05;
    font-family: Baloo;
}
.tela-confirmao-senha-item,
.tudo-certo-por,
.siga-o-passo-container {
    font-family: 'Baloo', cursive !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

.rectangle-parent,
.voltar-ao-incio {
    font-family: 'Cinzel', serif !important;
}

