.tela-erro-login-child {
    position: absolute;
    top: 319px;
    left: 334px;
    border-radius: 66px;
    background-color: #faba16;
    border: 7px solid #3c1d05;
    box-sizing: border-box;
    width: 771px;
    height: 297px;
}
.coruja-logo-sozinha-4 {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 180px;
    height: auto;
    z-index: 3;
}
.ops-encontramos-um {
    position: absolute;
    top: 370px;
    left: 470px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.usurio-ou-senha {
    margin: 0;
}
.usurio-ou-senha-container {
    position: absolute;
    top: 460px;
    left: 468px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.group-child {
    position: absolute;
    top: 470px;
    left: 503px;
    border-radius: 20px;
    background-color: transparent;
    border: 3px solid #3c1d05;
    box-sizing: border-box;
    width: 433px;
    height: 83px;
    border-width: 5px !important;
    border-style: solid;
    border-color: #3c1d05;
}
.voltar {
    position: absolute;
    top: 0px;
    left: 1px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 432px;
    height: 83px;
    font-size: 1em;
    font-family: Cinzel, serif;
}
.rectangle-parent {
    position: absolute;
    top: 671px;
    left: 503px;
    box-shadow: 0 8px 24px 0 rgba(60,29,5,0.28);
    border-radius: 20px;
    width: 433px;
    height: 83px;
    cursor: pointer;
    font-size: 1em;
    font-family: Cinzel, serif;
    background: #faba16;
    border: 5px solid #3c1d05;
    box-sizing: border-box;
}
.rectangle-parent:hover, .rectangle-parent:focus {
    transform: scale(1.07);
    background: #ffd600;
    transition: transform 0.2s, background 0.2s;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.tela-erro-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #3c1d05;
    font-family: Baloo;
}

.tela-erro-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    z-index: -1;
}
.tela-erro-login-item {
    cursor: default !important;
}
.tela-erro-login-item, .ops-encontramos-um, .usurio-ou-senha-container {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

